---
import PageTitle from "../../components/molecules/PageTitle.astro";
import Main from "../../layouts/Main.astro"

---

<Main>
    <PageTitle
    items={[{ href: "/assurance/", label: "Assurances" }]}
  >Nos <span class="highlighted--insurance">assurances</span> en tout genre
  </PageTitle>
</Main>