:root{
    --main: #0A4370;
    --main-light:#09538D;
    --background: #F3F4F6;
    --background-light: #FFFFFF;
    --background-dark:#FFFFFF;
    --loan: #D14905;
    --loan-light: #FFEDD5;
    --insurance: #767C17;
    --stone:#4B5563;
    --stone-light:#111827;
    --stone-dark:#9CA3AF;
    --loak: #58BBB4;
}