:root{
    --main-font: #111827;
    --main: #0A4370;
    --main-light:#1E40AF;
    --insurance: #767C17;
    --insurance-light: #C0D04F;
    --loan:#D14905;
    --loan-light:#EF7E43;
    --dark: #1F2937;
    --light: #E5E7EB;
    --loak: #58BBB4;
}