:root {
  --main: #0a4370;
  --main-light: #09538d;
  --background: #f3f4f6;
  --background-light: #ffffff;
  --background-dark: #e5e7eb;
  --loan: #d14905;
  --loan-light:#EF7E43;
  --insurance: #767c17;
  --insurance-light:#C0D04F;
  --stone: #4b5563;
  --stone-dark: #111827;
  --stone-light: #9ca3af;
  --loak: #58bbb4;
}
