---
import PageTitle from "../../components/molecules/PageTitle.astro";
import Main from "../../layouts/Main.astro"

---

<Main>
    <PageTitle
    color="loan"
    items={[{ href: "/credit/", label: "Crédit" }]}
  >Nos <span class="highlighted--loan">crédits</span> en tout genre
  </PageTitle>
</Main>