---
import PageTitle from "../../components/molecules/PageTitle.astro";
import Main from "../../layouts/Main.astro"

---

<Main>
    <PageTitle
    items={[{ href: "/a-propos/", label: "A propos" }]}
  >Nos <span class="highlighted--loan">crédits</span> en tout genre
  </PageTitle>
</Main>