---
import PageTitle from "../../components/molecules/PageTitle.astro";
import Main from "../../layouts/Main.astro";
---

<Main>
  <PageTitle
    items={[
      { href: "/credit/", label: "Crédits" },
      { href: "/credit/pret-a-temperament/", label: "Prêt à tempérament" },
    ]}
    color="loan"
    >Nos <span class="highlighted--loan">prêts à tempérament</span>
  </PageTitle>
</Main>
