---
import PageTitle from "../components/molecules/PageTitle.astro";
import Main from "../layouts/Main.astro";
---

<Main meta={{title:'Contact'}}>
  <PageTitle items={[{ href: "/contact/", label: "Contact" }]}>
      Vous avez une <span class="highlighted--loan">question</span> ou
    besoin de <span class="highlighted--loan">plus d'informations</span>?
  </PageTitle>
</Main>
