---
import ContactInformations from "../components/molecules/ContactInformations.astro";
import PageTitle from "../components/molecules/PageTitle.astro";
import Main from "../layouts/Main.astro";
---

<Main meta={{title:'Contact'}}>
  <PageTitle items={[{ href: "/contact/", label: "Contact" }]}>
      Vous avez une <span class="highlighted--insurance">question</span> ou
    besoin de <span class="highlighted--insurance">plus d'informations</span>?
  </PageTitle>
  <ContactInformations/>
</Main>
