---
import Button from "../components/atoms/Button.astro";
import Dots from "../components/atoms/Dots.astro";
import Logo from "../components/atoms/Logo.astro";
import Ring from "../components/atoms/Ring.astro";
import IndexAbout from "../components/molecules/IndexAbout.astro";
import Main from "../layouts/Main.astro";
---

<Main>
  <IndexAbout/>
</Main>
