---
import IndexAbout from "../components/molecules/IndexAbout.astro";
import IndexSolutions from "../components/molecules/IndexSolutions.astro";
import Main from "../layouts/Main.astro";
---

<Main>
  <IndexAbout />
  <IndexSolutions/>
</Main>
