---
import Button from "../components/atoms/Button.astro";
import Dots from "../components/atoms/Dots.astro";
import Logo from "../components/atoms/Logo.astro";
import Ring from "../components/atoms/Ring.astro";
import Main from "../layouts/Main.astro"

---

<Main>
    <Dots/>
    <Logo class="test"/>
    <Button>Nos services</Button>
    <Button light={true}>Mieux nous connaitre</Button>
    <Ring></Ring>
    <h1 class="h1">Title</h1>
    <h2 class="h2">h2</h2>
    <h3 class="h3">h3</h3>
    <h4 class="h4">h4</h4>
    <p class="text">text</p>
</Main>