---
import IndexAbout from "../components/molecules/IndexAbout.astro";
import IndexMyBroker from "../components/molecules/IndexMyBroker.astro";
import IndexSolutions from "../components/molecules/IndexSolutions.astro";
import IndexSpecifity from "../components/molecules/IndexSpecifity.astro";
import Main from "../layouts/Main.astro";
---

<Main>
  <IndexAbout />
  <IndexSolutions/>
  <IndexSpecifity/>
  <IndexMyBroker/>
</Main>
