---
import PageTitle from "../components/molecules/PageTitle.astro";
import Main from "../layouts/Main.astro";
---

<Main meta={{title:'Infos et documents'}}>
  <PageTitle
    items={[{ href: "/infos-et-documents/", label: "Infos et documents" }]}
  >Tous les <span class="highlighted--insurance">documents</span> dont vous avez besoin
  </PageTitle>
</Main>
