<div class="form">
    <h3 class="h3">Nous envoyer un message</h3>
</div>
<style>
    .form{
        padding:1rem;
        background: var(--background);
    }   
    @media screen and (min-width:809px){
        .form{
            padding:2rem;
        }
    }
    @media screen and (min-width:1000px){
        .form{
            padding:50px;
        }
    }
    </style>