---
const {href = "#"} = Astro.props
---
<li>
    <a class="underline underline--main" href={href}><slot/></a>
</li>

<style scoped>

a{
        text-decoration: none;
        color: var(--stone-dark)
    }
</style>