---
const { href = "#" } = Astro.props;
---

<li>
  <a
    class:list={[
      "underline underline--main",
      Astro.url.pathname == href ? "underline--active" : "",
    ]}
    href={href}
    ><slot />
  </a>
</li>

<style scoped>
  a {
    text-decoration: none;
    color: var(--stone-dark);
  }
</style>
