<span class="badge">
    <slot/>
</span>

<style scoped>

    .badge{
        color: var(--loan);
        background: var(--loan-light);
        padding:5px;
        border-radius: 3px;
        font-size: 14px;
    }
</style>