---
const {name, placeholder, label = 'label', type='text'} = Astro.props
---
<div class="input">
    <label class="description input__label" for={name}>{label}</label>
    <input placeholder={placeholder} type={type} class="input__input">
</div>

<style scoped>
    .input{
        max-width: 400px;
        width: 100%;
        margin-top: 15px;
    }
    .input__label{
        display: block;
    }
    .input__input{
        border: 1px solid var(--stone-light);
        background: var(--background);
        padding: 10px;
        width: 100%;

        font-family: Ubuntu;
        font-size: 1rem;
    }
    .input__input:focus{
        outline: none;
        border-color: var(--main);

        background: var(--background-light);
    }
</style>