---
const { items, color } = Astro.props;
import Breadcrumb from "./Breadcrumb.astro";
---

<section class="page-title">
  <div class="page-title__title">
    <h1 class="h1"><slot /></h1>
  </div>
  <div class="breadcrumb">
    <Breadcrumb color={color} items={items} />
  </div>
  <figure class="page-title__background">
    <img
      src="https://cdn.britannica.com/38/137338-050-CFD40563/First-Bank-of-the-United-States-part.jpg"
      alt=""
    />
  </figure>
</section>

<style>
  .page-title__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .page-title__background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .page-title {
    overflow: hidden;
    max-width: 1152px;
    margin: 0px auto 50px auto;
    width: 100%;
    position: relative;
    padding: 100px 0;
  }
  .page-title__title {
    max-width: 600px;
    width: 100%;
    margin-left: 5px;
  }
  .page-title__title .h1 {
    background: white;
    padding: 5px;
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .breadcrumb {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  @media screen and (min-width: 809px) {
    .page-title {
      padding: 147px 103px;
      margin: 50px auto 100px auto;
    }
  }
</style>
